<?xml version='1.1' encoding='UTF-8'?>
<jenkins.plugins.publish__over__ssh.BapSshPublisherPlugin_-Descriptor plugin="publish-over-ssh@1.20.1">
  <hostConfigurations>
    <jenkins.plugins.publish__over__ssh.BapSshHostConfiguration>
      <name>staging server</name>
      <hostname>{{ staging_ip }}</hostname>
      <username>vagrant</username>
      <secretPassword>{AQAAABAAAAAQ/brlX6G1sjRYo2X1htQSztLehMG7d8LLy0Qx8yPlccs=}</secretPassword>
      <remoteRootDir></remoteRootDir>
      <port>22</port>
      <commonConfig class="jenkins.plugins.publish_over_ssh.BapSshCommonConfiguration">
        <secretPassphrase>{AQAAABAAAAAQZUCn8dlWAmcz8huK4Hkf8ltRsm9amyXTbQ+mDWgAq00=}</secretPassphrase>
        <key></key>
        <keyPath>{{ jenkins_home }}/.ssl/id_rsa</keyPath>
        <disableAllExec>false</disableAllExec>
      </commonConfig>
      <timeout>300000</timeout>
      <overrideKey>false</overrideKey>
      <disableExec>false</disableExec>
      <keyInfo>
        <secretPassphrase>{AQAAABAAAAAQuaePiqQj2o4cSwkESI6vEajm6JMifQfj9fkri+cEjQA=}</secretPassphrase>
        <key></key>
        <keyPath></keyPath>
      </keyInfo>
      <jumpHost></jumpHost>
      <proxyType></proxyType>
      <proxyHost></proxyHost>
      <proxyPort>0</proxyPort>
      <proxyUser></proxyUser>
      <proxyPassword></proxyPassword>
    </jenkins.plugins.publish__over__ssh.BapSshHostConfiguration>
    <jenkins.plugins.publish__over__ssh.BapSshHostConfiguration>
      <name>production server</name>
      <hostname>{{ production_ip }}</hostname>
      <username>vagrant</username>
      <secretPassword>{AQAAABAAAAAQLVkMZ6fMkH4zeeV+EQIaWAu4tOShP88jESajuGGSZoA=}</secretPassword>
      <remoteRootDir></remoteRootDir>
      <port>22</port>
      <commonConfig class="jenkins.plugins.publish_over_ssh.BapSshCommonConfiguration" reference="../../jenkins.plugins.publish__over__ssh.BapSshHostConfiguration/commonConfig"/>
      <timeout>300000</timeout>
      <overrideKey>false</overrideKey>
      <disableExec>false</disableExec>
      <keyInfo>
        <secretPassphrase>{AQAAABAAAAAQrN4BEDt49xO9oqbHpdulIWgGZ6EoFOl66Lpy40B9Ccs=}</secretPassphrase>
        <key></key>
        <keyPath></keyPath>
      </keyInfo>
      <jumpHost></jumpHost>
      <proxyType></proxyType>
      <proxyHost></proxyHost>
      <proxyPort>0</proxyPort>
      <proxyUser></proxyUser>
      <proxyPassword></proxyPassword>
    </jenkins.plugins.publish__over__ssh.BapSshHostConfiguration>
  </hostConfigurations>
  <commonConfig reference="../hostConfigurations/jenkins.plugins.publish__over__ssh.BapSshHostConfiguration/commonConfig"/>
  <defaults class="jenkins.plugins.publish_over_ssh.options.SshPluginDefaults"/>
</jenkins.plugins.publish__over__ssh.BapSshPublisherPlugin_-Descriptor>